
@{
    ViewBag.Title = "Список услуг";
    var queryString = Request.Url.Query;
}
<div id="marketModal" class="modal fade" tabindex="-1" role="dialog"></div>
<div class="pad-t-sm">
    <h4>@ViewBag.Title</h4>
    <div id="serviceListContainer" data-query="@queryString"></div>
</div>


@section scripts{
    <script>
        $(function () {
            loadServiceList();
        });

        function loadServiceList() {
            var $cont = $('#serviceListContainer');

            $cont.addClass('disabledContent');
            $.ajax({
                url: '@Url.Action("List")?' + $cont.attr('data-query'),
                method: 'GET',
                success: function (data) {
                    $cont.html(data);
                    $cont.removeClass('disabledContent');
                },
                error: function (data) {
                    console.log(data);
                    $cont.removeClass('disabledContent');
                }
            });
        }
    </script>
    
}
