body {
    padding-top: 63px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
}

.navbar {
    height: 63px;
}


input.bg-warning, textarea.bg-warning {
    background-color: #fcf8e3;
}

textarea.no-border-top {
    border-top: 0;
}

.nav-tabs > li.active > a.bg-warning, .nav-tabs > li.active > a.bg-warning:hover, .nav-tabs > li.active > a.bg-warning:focus {
    background-color: #fcf8e3;
}

.navbar-brand {
    padding-top: 3px;
}

.head-logo {
    height: 25px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;
    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

    .spinner.on-input {
        z-index: 999;
        position: absolute;
        top: 7px;
        left: 10px;
    }

    .spinner.on-element {
        z-index: 999;
        position: absolute;
    }

    .spinner.active {
        cursor: progress;
        opacity: 1;
        max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
    }

.btn-full {
    width: 100%;
}

.text-lg {
    font-size: 1.3em;
}

.text-xlg {
    font-size: 2em;
}

.border {
    border: 1px solid #333;
    border-radius: 3px;
}

.pad-l-sm {
    padding-left: 3px;
}

.pad-t-sm {
    padding-top: 3px;
}

.pad-t-md {
    padding-top: 10px;
}

.shortKey {
    cursor: pointer;
}

.small {
    font-size: 0.8rem !important;
}

nav a {
    /*color: #90caf9 !important;*/
}

.text-right {
    text-align: right;
}

.btn-block {
    width: 100%;
}

.bold {
    font-weight: 700;
}

.last-add-card {
    position: relative;
}

.last-add-more {
    position: absolute;
    top: 7px;
    right: 0;
    cursor: pointer;
}

.last-add-remove {
    position: absolute;
    top: 0px;
    right: 3px;
    cursor: pointer;
}

.min-width {
    width: 1px;
}

.text-black {
    color: #000000 !important;
}

.no-margin {
    margin: 0 !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.no-padding {
    padding: 0 !important;
}

.form-label-text-right label {
    text-align: right;
}

.required-mark:after {
    content: "\002a";
    color: red;
}

.text-sm {
    font-size: 0.8em;
}

.text-xs {
    font-size: 0.6em;
}

.text-middle {
    vertical-align: middle;
}

.tab.active {
    bottom: -1px;
}

.tab-bg-danger a {
    color: #333333;
    background-color: #f2dede;
    border: 1px solid #a94442 !important;
}

    .tab-bg-danger:hover a, .tab-bg-danger a:hover {
        background-color: #e4b9b9 !important;
    }

.tab-bg-danger.active a {
    background-color: #ffffff !important;
    border-bottom: 0 !important;
}

.tab-bg-success a {
    color: #333333;
    background-color: #dff0d8;
    border: 1px solid #3c763d !important;
}

    .tab-bg-success:hover a, .tab-bg-success a:hover {
        background-color: #c1e2b3 !important;
    }

.tab-bg-success.active a {
    background-color: #ffffff !important;
    border-bottom: 0 !important;
}

.tab-bg-warning a {
    color: #333333;
    background-color: #fcf8e3;
    border: 1px solid #8a6d3b !important;
}

    .tab-bg-warning:hover a, .tab-bg-warning a:hover {
        background-color: #f7ecb5 !important;
    }

.tab-bg-warning.active a {
    background-color: #ffffff !important;
    border-bottom: 0 !important;
}

.tab-pane-panel-body-bd-danger {
    border: 1px solid #a94442 !important;
}

.tab-pane-panel-body-bd-success {
    border: 1px solid #3c763d !important;
}

.tab-pane-panel-body-bd-warning {
    border: 1px solid #8a6d3b !important;
}

.no-border {
    border: 0 !important;
}

.disabledContent {
    opacity: 0.5;
    pointer-events: none;
}

.btn-xxs,
.btn-group-xxs > .btn {
    padding: 1px 3px;
    font-size: 11px;
    line-height: 1.3;
    border-radius: 3px;
}

.border-info {
    border-color: #31708f;
}

.text-dotted-info {
    border-bottom: 1px dotted #31708f;
    cursor: help;
}