
@{
    Layout = null;
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Слияние категорий</h4>
        </div>
        <div class="modal-body">
            <p>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="catMergeName">Выберите название объединенной категории</label>
                        <select id="catMergeName" class="form-control"></select>
                    </div>
                </div>
            </p>
        </div>
        <div class="modal-footer">
            <button id="catMerge" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

