
@{
    Layout = null;
}

<div class="modal-content">
    <h4>Слияние категорий</h4>
    <p>
        <div class="row">
            <div class="col lg4 m6 s12">
                <label for="catMergeName">Выберите название объединенной категории</label>
                <select id="catMergeName" class="browser-default"></select>
            </div>
        </div>
    </p>
</div>
<div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat"><i class="material-icons">cancel</i></a>
    <button id="catMerge" class="waves-effect btn-flat"><i class="material-icons">save</i></button>
</div>