@model IEnumerable<Models.ViewModels.SpendTopViewModel>

@{
    Layout = null;
}

@if (Model != null && Model.Any())
{
    foreach (var spend in Model)
    {
        <div class="card-panel @spend.SpendVectorBgColorClass" style="position: relative;">
            <span class="white-text">
                <span class="badge white-text"><i class="material-icons left">@spend.SpendVectorIconName</i></span>
                <small>
                    @spend.SpendCategoryName
                </small>
                <br />
                @spend.Sum
            </span>
        </div>
    }
}