@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="">
                <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> Профиль</a>
                @*@Html.ActionLink("Мой профиль", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Управление профилем" })*@
            </li>
            <li class="">
                <a href="javascript:document.getElementById('logoutForm').submit()" title="Выйти"><i class="fa fa-sign-out"></i></a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
