
@{
    Layout = "_Layout.cshtml";
}
@section nav{
    <ul class="left">
    <li><a href="@Url.Action("List", "Balance")">Баланс</a></li>
</ul>
}

    @RenderBody()

@section scripts{
    @RenderSection("scripts", required: false)
}