@{
    ViewBag.Title = "Вспомнить пароль";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        На ваш указанный вами email отправлено письмо с инструкциями. Пожалуйста проверьте почту.
    </p>
</div>
	
